{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.userprofile.image.url }}">
        <div class="media-body">
          <div class="container">
              <h1>Profile</h1>
              <p>Username: {{ user }}</p>
              <p>First name: {{ user.first_name }}</p>
              <p>Last name: {{ user.last_name }}</p>
              <p>Email: {{ user.email }}</p>
              <p>Description: {{ user.userprofile.description }}</p>
              <p>Phone: {{ user.userprofile.phone }}</p>
              <p>City: {{ user.userprofile.city }}</p>
              {% if user.userprofile.image %}
              <img src="{{ user.userprofile.image.url }}" width="240">
              {% endif %}
          </div>
        <div class="media-body">
            <a class="text-secondary"href="{% url 'edit_profile' %}">Edit Profile</a>

          </div>
        </div>
      </div>
      <!-- FORM HERE -->
    </div>
{% endblock content %}
