{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section profile">
  <div class="media">
    <img class="rounded-circle account-img" src="{{ user.userprofile.image.url }}">
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary text">{{ user.first_name }} {{ user.last_name }}</p>
      <p class="text-secondary text">{{ user.email }}</p>
    </div>
  </div>
  {% if user == request.user %}
  <a href="{% url 'editprofile' %}" class="edit">Edit Profile</a>
  <br>
  <a href="{% url 'reset_password' %}" class="change">Change Password</a>
  {% endif %}
</div>
{% endblock content %}
