{% extends "blog/base.html" %}

{% block content %}
  <h1>About the Neighborhood Bulletin</h1>
  <div class= "container">
    Hi Friend!<br>
    We are happy to welcome you on the website of the Neighborhood Bulletin.
    We started this project with the aim to connect people in their neighborhoods and help us all through these difficult times.
    It does not matter if you are here to provide help or if you need help. We are happy to have you and hope that you find, what you are looking for.<br><br>
    <div class="bd-example">
      <details>
        <summary>Want to find out more?</summary><br>
        <p>If you have any questions, need more information or just want to give us feedback, feel free to use our <a href="../contact">contact site</a>!</p>
        </details>
    </div>
    <br>
    <div class="bd-example">
      <details>
        <summary>Want to be on board?</summary><br>
        <p>We would be happy to welcome you in the community! Click <a href="../../register">here</a> to start.</p>
        </details>
    </div>
  </div>
{% endblock content %}
