{% extends "blog/base.html" %}

{% block content %}
  {% for post in posts %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{{ user.userprofile }}">{{ post.author }}</a>
              <div class="thumbnail">
                        <div class="caption">
                            <h5>{{ post.title }}</h5>
                            <h6> <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small></h6>
                            <p>{{ post.content|safe|linebreaks|truncatechars:25 }}</p>
                            <p>
                            <a href="{% url 'post-detail' post.pk %}" class="btn btn-primary showmore" role="button">Show More</a>
                            </p>
                        </div>
              </div>
          </div>
        </div>
      </article>
  {% endfor %}


     <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="pagination">
                    <span class="step-links">
                        {% if posts.has_previous %}
                            <a href="?page={{ posts.previous_page_number }}">Previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                        </span>

                        {% if posts.has_next %}
                            <a href="?page={{ posts.next_page_number }}">Next</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>

    </div>

{% endblock content %}
