<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
      <li> <img src="https://getbootstrap.com/docs/4.4/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt=""></li>
      <li class="nav-item active"><a class="nav-link" href="">Home</a></li>
      <li class="nav-item active"><a class="nav-link" href="../products/">Product List</a></li>
      <li class="nav-item active"><a class="nav-link" href="#">Contact</a></li>
      <li class="nav-item active"><a class="nav-link" href="#">Link</a></li>
    </ul>
</nav>
