body {
  background: #fafafa;
  color: #fafafa;
  margin-top: 5rem;
}

.site-header .navbar-nav .nav-linkbar {
    color: #c3f0ec;
    padding-left: 10px;
}

a.nav-item.nav-linkbar {
    display: block;
    padding: .05rem 0.6rem;
}

a.nav-item.nav-linkbar {
    color: #c3f0ec;
}

a.nav-item.nav-linkbar:hover {
    color: #ffffff;
    text-decoration: none;
   
}

h1, h3, h4, h5, h6 {
  color: #ffffff;
}

h2 .article-title {
    color: ghostwhite;
    font-size: 22px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-linkbar {
  color: #c3f0ec;
}

.site-header .navbar-nav .nav-linkbar:hover {
  color: #ffffff;
  text-decoration: none;
}

.site-header .navbar-nav .nav-linkbar.active {
  font-weight: 500;
  text-decoration: none;
}

.content-section {
    background: #06213dbd;
    padding: 15px 20px;
    border-radius: 15px 30px;
    margin-bottom: 20px;
    float: left;
    margin: 20px;
    height: 250px;
    width: 260px;
}


.article-title {
  color: #444444;
}

a.article-title:hover {
    color: #0c988d;
    text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #0c988d
}

.article-metadata a:hover {
  color: white;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.mr-2 {
    color: #0c988d;
    font-size: small;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: silver;
}

 .col-md-8 {
     flex: 0 0 100%;
    max-width: 100%;
}

.text-muted {
    color: #6c757d!important;
    text-align: right;
    margin: 27px;
}

nav.navbar.navbar-expand-md.navbar-light.fixed-top.justify-content-between {
    background-color: #0c988d;
    font-size: 16px;
    font-family: cursive;
    color: beige;
}

.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    font-size: 30px;
    font-style: oblique;
}

.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle {
    color: #524e4ecc;
    background-color: #d3d6d400;
    border-color: #515452;
}

.btn-outline-success {
    color: #495057c7;
    background-color: transparent;
    background-image: none;
    border-color: #545b62c9;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #616562eb;
    border-color: #575a57;
}

.btn-outline-success.focus, .btn-outline-success:focus {
    box-shadow: 0 0 0 0.2rem #545b6224;
}


.content-section.regform {
    background: transparent;
    border-radius: 30px 30px;
    width: 60%;
    height: 100%;
    margin-left: 20%;
}

fieldset.form-group.regform {
    margin-top: 15px;
}

.border-bottom {
    border-bottom: 1px solid #0c988d!important;
}

input#id_username, input#id_email, input#id_password1, input#id_password, input#id_password2, input#id_first_name, input#id_last_name  {
    width: 200px;
    border: black;
    border-radius: 20px;
    background-color: #0c988d;
}

.text-muted {
    color: #d9dbdc!important;
    text-align: left;
    margin-top: 10px;
    margin-left: auto;
}

.btn-outline-info:not(:disabled):not(.disabled).active, .btn-outline-info:not(:disabled):not(.disabled):active, .show>.btn-outline-info.dropdown-toggle {
    color: #353535;
    background-color: #0c988d;
    border-color: #9f9e9e;
}

.btn-outline-info:hover {
    color: #403b3b;
    background-color: #0c988d;
    border-color: #737373;
   
}


button.btn.btn-outline-info {
    color: whitesmoke;
    border-color: #0c988d;
}

.border-top {
    border-top: 1px solid #0c988d!important;
    margin-top: 20px;
}

a.ml-2.login {
    color: #0c988d;
    text-decoration: none;
    background-color: transparent;
}

a.ml-2.login:hover {
    color: #f9f9f9;
    text-decoration: none;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
    padding-bottom: 15px;
}

.col-md-8 {
    flex: 0 0 100%;
    max-width: 100%;
    background: #06213dbd;
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 30px;
}

iframe {
    border: black;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin-top: 20px;
}


@media (min-width: 300px)
.col-md-4 {
    max-width: 66.333333%;
}

.col-12.col-md-4 {
    float: left;
    margin-top: -300px;
    margin-left: auto;
    max-width: 66.333333%;
}

.col-12.col-md-4-info {
    max-width: 60%;
    margin-left: 400px;
    float: left;
    margin-top: -300px;
}

.col-12.col-md-8-contact {
    margin-top: 40px;
    background: teal;
    margin-bottom: 40px;
    max-width: 80%;
    border-radius: 20px;
}

.section-heading {
    margin-top: 20px;
}

form.contact_form {
    margin-top: 20px;
}

input.form-control.mb-30.name, input.form-control.mb-30.email {
    width: 350px;
    color: black;
    margin-bottom: 20px;
    border-radius: 20px;
}

textarea.form-control.mb-30.msg {
    width: 790px;
    height: 180px;
    border-radius: 20px;
}

button.btn.mess-btn.sendmsg {
    margin-top: 20px;
    margin-bottom: 20px;
    background: #000000e0;
    color: whitesmoke;
    border-radius: 10px;
}

.aboutus h1 {
    margin-top: 15px;
    margin-bottom: 25px;
}

.container.aboutus {
    text-align: justify;
    font-size: 20px;
}

.bd-example a {
    color: #0c988d;
}


section.aboutus-area.section-padding-100-0 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.row.teammember {
    margin-top: 30px;
    float: left;
    margin-left: -15px;
    margin-bottom: 50px;
}

img.rounded-circle.img {
    width: 300px;
    height: 300px;
    margin-left: 35px;
}

a.social-icon.si-rounded.si-small.si-linkedin {
    color: #0c988d;
    display: inherit;
    text-align: center;
    margin-top: 20px;
}

p.student {
    text-align: center;
}

.bd-example ul li {
    text-align: justify;
    width: 300px;
    letter-spacing: 1px;
    word-spacing: -2px;
}

.bd-example {
    margin-left: 50px;
}

p.board {
    text-align: left;
    margin-left: 0px;
}

p.address {
    text-align: left;
    display: contents;
}

.content-section.login {
    height: auto;
    border-radius: 30px;
    margin-bottom: 40px;
    margin-left: 30%;
    width: auto;
}

img.loginimgman {
    width: 30%;
    margin-left: -60%;
    margin-top: 16%;
}

img.loginimghood {
    width: 20%;
    margin-left: 35%;
    margin-bottom: 15%;
}

input.form-control.mr-sm-2 {
    width: 200px;
}

.content-section.profile {
    width: -webkit-fill-available;
    height: auto;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    line-height: 30px;
}

.account-img {
    height: 150px;
    width: 150px;
    margin-right: 20px;
    margin-bottom: 16px;
    border-radius: 20px;
    background: teal;
    margin-top: 50px;
    margin-left: 40px;
}

.container.profile {
    text-align: left;
    margin-top: -28%;
}

.container.profile p.profile {
    text-align: left;
    margin-left: 20px;
    color: whitesmoke;
    margin-top: 20px;
}

a.ml-2.reg {
    color: teal;
}

a.ml-2.reg:hover {
    color: white;
}

.media-body.editprofile {
    text-align: left;
    margin-left: -15%;
   
}

a.text-secondary.edit {
    margin-top: 210px;
    display: block;
}

h2.farewell {
    margin-left: 60px;
    float: left;
    margin-top: 40px;
}

img.logout {
    width: 300px;
    padding-left: 40px;
}

a.ml-2login {
    margin-left: -35%;
    color: teal;
    border: 10px solid aliceblue;
    background: aliceblue;
    border-radius: 20px;
}

fieldset.form-group.newpost {
    width: 400px;
    height: auto;
}

.content-section.newpost {
    width: auto;
    height: auto;
    margin-left: 30%;
    border-radius: 30px;
    margin-bottom: 40px;
}

a.btn.btn-danger.btn-sm.mt-1.mb-1.delete, a.btn.btn-secondary.btn-sm.mt-1.mb-1.update {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    border-radius: 10px;
}

a.btn.btn-danger.btn-sm.mt-1.mb-1.delete:hover, a.btn.btn-secondary.btn-sm.mt-1.mb-1.update:hover, button.btn.btn-outline-danger.delete:hover, a.btn.btn-outline-secondary.cancel:hover{
    color: #fff;
    background-color: #5a6268;

}   

article.media.content-section.postdetail {
    width: auto;
    margin-bottom: 40px;
    margin-top: 25px;
    height: auto;
}

.content-section.deletepost {
    width: auto;
    margin: 30px 40px 40px 40px;
}

button.btn.btn-outline-danger.delete {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    border-radius: 10px;
    margin-right: 30px;
    margin-left: 33%;
}

a.btn.btn-outline-secondary.cancel {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    border-radius: 10px;
}

a.btn.btn-primary.showmore {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    margin-left: 90px;
    font-size: 12px;
}

a.btn.btn-primary.showmore:hover {
    background: teal;
    
}

a.ml-2login:hover {
    text-decoration: none;
    background: teal;
    color: white;
    border: 10px solid teal;
}



a.move {
    color: teal;
    text-decoration: none;
}

a.move:hover {
    color: white;
    text-decoration: none;
}

h2.account-heading.username {
    text-align: left;
    margin-left: 30px;
    margin-top: 20px;
}

p.text-secondary.info {
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
}

label.col-form-label.requiredField {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

div#div_id_first_name, div#div_id_last_name, div#div_id_email {
    display: block;
    text-align: left;
    line-height: 60px;
}

input#id_image {
    margin-top: 10px;
}

a.change {
    margin-left: 100px;
    margin-top: -52px;
    display: block;
    margin-bottom: 30px;
    text-decoration: none;
    color: azure;
    border: teal 1px solid;
    width: 140px;
    padding-left: 8px;
    padding-bottom: 2px;
    padding-top: 2px;
    border-radius: 5px;
}

a.change:hover{
    background-color: #0c988d;
}

h2.account-heading, .text-secondary {
    margin-left: 60px
}

a {
    color: #5c5c5d;
    text-decoration: none;
    background-color: transparent;
}

a:hover{
    color: white;
    text-decoration: none;
}

.pagination.move {
    position: fixed;
}
